.align-center{
    text-align: center;
}

#gallery-container{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 3em;
    margin-top: 3em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(8, 1fr);
}

.gallery-item{
    margin: 0;
}

.gallery-img{
    height: 100%;
    box-shadow: 11px 11px 14px -5px rgba(0,0,0,0.28);
-webkit-box-shadow: 11px 11px 14px -5px rgba(0,0,0,0.28);
-moz-box-shadow: 11px 11px 14px -5px rgba(0,0,0,0.28);
    border-radius: 6px;
    width: 100%;
    object-fit: cover;
}

.gallery-item1, .gallery-item2, .gallery-item3, .gallery-item4, .gallery-item5, .gallery-item6, .gallery-item7, .gallery-item8, .gallery-item9{
    grid-column: 1 / 9 ;
}

.text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 1em;
    background-color: var(--light-green);
    margin-bottom: 1em;
    box-shadow: 11px 11px 14px -5px rgba(0,0,0,0.28);
    -webkit-box-shadow: 11px 11px 14px -5px rgba(0,0,0,0.28);
    -moz-box-shadow: 11px 11px 14px -5px rgba(0,0,0,0.28);
        border-radius: 6px;
        font-size: 1.3em;
}

#insta-icon{
    margin: auto;
    width: 15%;
}

#insta-icon img{
    width: 100%;
}

/*Media queries*/
@media screen and (min-width: 480px) {
    #gallery-container{
        width: 90%;
        grid-template-rows: repeat(8, 25vh);
    }
    .gallery-item1{
        grid-column:1 / 5;
        grid-row: 1 / 2;
    }
    .gallery-item2{
        grid-column: 5 / 9;
        grid-row: 1 / 3
    }
    .gallery-item3{
        grid-column: 1 / 5;
        grid-row: 2 / 4;
    }
    .gallery-item4{
        grid-column: 5 / 9;
        grid-row: 3 / 4 ;
    }
    .gallery-item5{
        grid-column: 1 / 9;
        grid-row: 4 / 6;
    }
    .gallery-item6{grid-column: 1 / 5;
        grid-row: 6 / 8;
    }
    .gallery-item7{grid-column: 5 / 9;
        grid-row: 6 / 7;}
    .gallery-item8{
        grid-column: 1 / 5;
    }

    .gallery-item9{grid-column: 5 / 9;
    grid-row: 7 / 9;}

    .text-container{
        width: 85%;
    }
}

@media screen and (min-width: 1025px) {
    #gallery-container{
        grid-template-columns: repeat(9, 1fr);
        width: 95%;
        grid-template-rows: repeat(5, 30vh);
    }
    .gallery-item1{
        grid-column:1 / 4;
        grid-row: 1 / 2;
    }
    .gallery-item2{
        grid-column: 4 / 7;
        grid-row: 1 / 3
    }
    .gallery-item3{
        grid-column: 1 / 4;
        grid-row: 2 / 4;
    }
    .gallery-item4{
        grid-column: 7 / 10;
        grid-row: 1 / 2 ;
    }
    .gallery-item5{
        grid-column: 4 / 7;
        grid-row: 3 / 4;
    }
    .gallery-item6{grid-column: 7 / 10;
        grid-row: 2 / 4;
    }
    .gallery-item7{grid-column: 6 / 10;
        grid-row: 4 / 5;}
    .gallery-item8{
        grid-column: 6 / 10;
        grid-row: 5 / 6;
    }

    .gallery-item9{grid-column: 1 / 6;
    grid-row: 4 / 6;}

    .text-container{
        font-size: 1.5rem;
        flex-direction: row;
    }

    #insta-icon{
        width: 10%;
        justify-content: center;
        margin: 0;
        margin-left: 2em;
    }
}