

section {
    width:100%;
    display: block;
    padding: 10px;
}
.map{
    border-radius: 5px;

}
.form_row{
    width: 100%;
}
.form_col{
    width: 100%;
}
input[type=text], input[type=email], textarea {
    padding:10px;
    border-radius: 5px;
    border: solid 1px grey;
    font-family: monospace;
    margin:5px;
}
input[type=submit] {
    padding:10px;
    border-radius: 5px;
    border: solid 1px grey;
    margin:5px;
    background-color: var(--middle-green);
}
@media screen and (min-width: 480px) {
    section {
        width:50%;
    }
    .contact-container {
        display: flex;
    }
}
/* tilfällig ändring, ta bort*/
#hero-background-container img{display: none;}