

section {
    display: block;
    padding: 10px;
}
.map{
    border-radius: 5px;
    width:100%;
}
.map iframe{
    width:98%;
    margin:15px 0;
    height:200px;
    border-radius: 5px;
    border:solid 1px darkgreen;
}
h4{
    margin: 20px 0 10px 0;  
    font-family: "Roboto", sans-serif;
}
.form_header{
    margin-left:5px;
}
.form_grid {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 40px 40px 40px 120px 40px;
}
#firstname {
 grid-row-start: 1;
 grid-column-start: 1;
}
#lastname{
    grid-row-start: 2;
    grid-column-start: 1;

}
#email{

    grid-row-start: 3;
    grid-column-start: 1;
}
#phone{
    grid-row-start: 4;
    grid-column-start: 1;

}
#message{
    grid-row-start: 5;
    grid-column-start: 1;
}
#send{
    grid-row-start: 6;
    grid-column-start: 1;

}

input[type=text], input[type=email], textarea {
    padding:10px;
    border-radius: 5px;
    border: solid 1px grey;
    font-family: monospace;
    margin:5px;
}
input[type=submit] {
    color:white;
    border-radius: 5px;
    border: solid 1px grey;
    margin:5px;
    background-color: var(--middle-green);
}

@media screen and (min-width: 480px) {
    .map iframe{
        margin:0px;
    }
    section {
        width:50%;
    }
    .contact-container {
        display: flex;
    }
  
    
}
@media screen and (min-width: 768px) {
    .form_grid {
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40px 40px 120px 40px;
    }
    #firstname {
     grid-row-start: 1;
     grid-column-start: 1;
    }
    #lastname{
        grid-row-start: 1;
        grid-column-start: 2;
    
    }
    #email{
    
        grid-row-start: 2;
        grid-column-start: 1;
    }
    #phone{
        grid-row-start: 2;
        grid-column-start: 2;
    
    }
    #message{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #send{
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end:3;
    
    }
}