/* mobile first */

main{
    height:800px;   
}

#about-us-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    
    padding-top: 30px;
    margin: 40px auto;

    background-color: var(--light-green);
   
}

/* Om oss sektionen */
.about-us-text{
    padding: 10px;
    padding-top: 0;
    margin-left: 12px;
    margin-bottom: -10px;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;   
}


.image-about-us{
   margin: 0 auto;
   margin-top: 20px;
  margin-bottom: 15px;
   width: 250px;
 
}


/* footer */
footer{
    text-align: center;
    font-size: 12px;

    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;   
  
}

/* Tablets */
@media screen and (min-width: 480px) {

    main{
        height:750px;  
    }
    
    .image-about-us{
        width: 300px;
     }
}


/* landscape tablets */
@media screen and (min-width: 768px) {
    
    #about-us-container{
        display: flex;
        flex-direction: column;

        margin-top: 50px;
    }
    .image-about-us{
        width: 400px;
        margin-bottom: 30px;
     }
}


/*  Desktops */
@media screen and (min-width: 1025px) {

    main{
        height:1500px;  
    }

    #about-us-container{
        width: 85%;
        display: grid;
        grid-template-columns: auto 1fr auto;
        row-gap: 20px;

        padding: 30px;
    
}
    .image-about-us{
        margin-top: 40px;
    }
}



    
