#about-us-container{
    display: grid;
    grid-template-columns: auto;
    padding-top: 20px;
    
    background-color: white;
    margin: 20px;
    box-shadow: -3px 3px #bdb6b6;
}

.om-oss{
    position: absolute;
    padding: 40px;
    margin: 25px;
    margin-left: 80px;
    margin-top: 40px;

    border-radius: 50% ;
    background-color: white;
    
    color: var(--dark-green);
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
} 



.about-us-text{
    padding: 19px;
    padding-top: 0;
    margin-left: 12px;

    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    
}


.image-about-us{
   margin: 0 auto;
   margin-bottom: 70px;

}


@media screen and (min-width: 480px){

#about-us-container{

    width: 95%;
    
}


.om-oss{
    position: absolute;
    padding: 40px;
    margin: 25px;
    margin-left: 280px;
    margin-top: 50px;

    border-radius: 50% ;
    background-color: white;
    
    color: var(--dark-green);
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
} 

.image-about-us{
   align-self: center;
   align-content: center;
   width: 500px;
   margin-bottom: 70px;

 
 }


@media screen and (min-width:900px) {
.om-oss{
    position: absolute;
    padding: 45px;
    margin: 25px;
    margin-left: 380px;
    margin-top: 45px;

    border-radius: 50% ;
    background-color: white;
    
    color: var(--dark-green);
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
} 
