/* mobile first */

main{
    height:850px;   
}

#about-us-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    
    padding-top: 30px;
    margin: 50px;

    
    background-color: white;
  
    box-shadow: -3px 3px #bdb6b6;
}

/* .om-oss{
    position: absolute;
   
    background-color: white;
    padding: 20px;
    border-radius: 50%;
  
    margin: 25px auto;
    margin-left: 100px;
    margin-top: 60px; 

    color: #94a684;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
}  */


/* Om oss sektionen */
.about-us-text{
    padding: 19px;
    padding-top: 0;
    margin-left: 12px;
    margin-bottom: -15px;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;   
}


.image-about-us{
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 40px;
   width: 250px;
   border-radius: 5px;
}


/* footer */
footer{
    text-align: center;
    font-size: 12px;

    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;   
  
}
@media screen and (max-width: 700px) {


main{
    height: 1200px;
}

#about-us-container{
    display: flex;
    flex-direction: column;
    
   
    width: 95%;
    margin: 0 auto;
    margin-top: 70px;
}

.about-us-text{
    margin-top: 0px;  
    margin-left: 0px;  

}

/* .om-oss{
    
    padding: 40px;
    margin: 25px;
    margin-left: 280px;
    margin-top: 50px;
}  */

.image-about-us{
    display: flex;  
    align-self: center;

    width: 300px;

 } 

 footer{
     margin-top: 30px;

}

}
/* large desktopscreens */
@media (min-width: 810px) {
.container{
    width: 70%;
}
/* .om-oss{
    
    padding: 45px;
    margin: 25px;
    margin-left: 460px;
    margin-top: 45px;
} */

main{
    height: 1200px;
}

#about-us-container{
   
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    margin-top: 100px;
    
    margin-bottom: 100px;
    
    background-color: white;
    box-shadow: -3px 3px #bdb6b6;
}

.about-us-text{
    margin-bottom: 20px;
    font-size: 30px;
    align-self: flex-end;
   
}

.image-about-us{

    padding-right: 10px;
    margin-top:10px;
    width: 800px;
    margin-bottom: 60px;
 
}

footer{
    font-size: 30px;
}

}
