/* mobile first */

/* Om oss sektionen */

#about-us-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;

    margin: 10px auto;
}


.col-one{
 
    grid-column-start: 1;
    grid-column-end: 5;

    width:90%;
    padding: 10px;
    padding-bottom: 15px;

    margin: 7px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    background-color: var(--light-green);
    box-shadow: 10px 10px 15px -3px rgba(120, 119, 119, 0.28);
    border-radius: 10px;
}

.image-about-us{

    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 2px;
    width: 100%;

   box-shadow: 10px 10px 15px -3px rgba(120, 119, 119, 0.28);
   border-radius: 10px;
 
}
.col-two{
    grid-column-start: 1;
    grid-column-end: 5;

    width:90%;
    padding: 10px;
    padding-bottom: 15px;

    margin: 7px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    background-color: var(--light-green);
    box-shadow: 10px 10px 15px -3px rgba(120, 119, 119, 0.28);
    border-radius: 10px;
}

.image-about-us2{
       
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 2px;
    width: 100%;

   box-shadow: 10px 10px 15px -3px rgba(120, 119, 119, 0.28);
   border-radius: 10px;}

 

   .text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 1em;
    background-color: var(--light-green);
    margin-bottom: 1em;
    box-shadow: 11px 11px 14px -5px rgba(0,0,0,0.28);
    -webkit-box-shadow: 11px 11px 14px -5px rgba(0,0,0,0.28);
    -moz-box-shadow: 11px 11px 14px -5px rgba(0,0,0,0.28);
        border-radius: 6px;
        font-size: 1.3em;
}

#insta-icon{
    margin: auto;
    width: 15%;
}

#insta-icon img{
    width: 80%;
}
/* Tablets */
@media screen and (min-width: 480px) {

   
    #about-us-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        width: 90%;

        column-gap: 30px;
        margin: 10px auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .col-one{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .image-about-us{
       
        grid-column-start: 1;

        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .col-two{
        grid-column-start:2;
        grid-column-end: 3;
    
    }

    .image-about-us2{
    
        grid-column-start: 2;

        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

}


/*  Desktops */
@media screen and (min-width: 1025px) {


    #about-us-container{
      
        column-gap: 50px;
        
    }

.col-one{
 
    width:80%;
    padding: 25px;
    margin-right: 0;
}
 .image-about-us{
     margin: 0 auto;
     margin-bottom: 20px;
     margin-top: 20px;
}
.col-two{
 
    width:80%;
    padding: 25px;
    margin-left: 0;
}
 .image-about-us2{
     margin: 0 auto;
     margin-bottom: 20px;
     margin-top: 20px;
}
.text-container{
    font-size: 1.5rem;
    flex-direction: row;
}

#insta-icon{
    width: 10%;
    justify-content: center;
    margin: 0;
    margin-left: 2em;
}
}

 

  

  
    



    
