/* CSS-variabler */
:root {
    --seashell: #fef5ed;
    --light-green: #E4E4D0;
    --ashgrey: #AEC3AE;
    --middle-green: #94A684;
    --white: #ffffff;

    /* Text color */
    --dark-green: #053b00;

}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 90%;
}

/* Navbar styling*/

#menu-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#iconContainer {
    width: 40px;
}

#iconContainer img {
    width: 100%;
}

/* ----------------------------------------------- */

.dropdown-btn {
    position: relative;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 38px;
    right: 0;
    background-color: var(--ashgrey);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 10px 7px;
    text-align: right;
}

.dropdown-list li {
    padding: 10px;
}

/* ----------------------------------------------- */

.dropdown-content {
    text-align: right;
    display: none;
}

.dropdown-content a {
    margin-top: 0.5em;
}

#hamburger {
    appearance: none;
}

input[type=checkbox]:checked~.dropdown-list

/*dropdown-content*/
    {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rubrik {
    position: absolute;
    background-color: var(--white);
    padding: 20px;
    border-radius: 50%;
    color: var(--dark-green);
}

.nav-logo-container {
    width: 35%;
    margin: 5px;
}

.nav-logo-container{
    width: 30%;
    padding: 0.5em;
    padding-left: 15px;
}

.nav-logo-container img {
    width: 100%;
}

nav {
    width: 100%;
    background-color: var(--ashgrey);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: var(--white);
}

/*End of navbar styling*/

/*Hero/header styling*/
/* #hero-container{
    position: relative;
    display: block;
    height: fit-content;
    width: 100%;
} */

#hero-container {
    height: 200px;
    width: 100%;
}

#hero-background-container {
    width: 100%;
}

#hero-background-container img {
    width: 100%;
}

#hero-container img {
    width: 100%;
}

#headline-container {
    background-color: rgba(255, 255, 255, 0.965);
    border-radius: 100%;
    padding: 1em;
    position: absolute;
    top: 18%;
    left: 23%;
    width: 45%;
}

#logo-container img {
    width: 100%;
}

/*End of hero/header styling*/

main {
    background-color: var(--seashell);
    /* min-height: 500px; */
}


footer {
    height: auto;
    background-color: var(--ashgrey);
    color: var(--dark-green);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-content {
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 480px) {


    #menu-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        /* width: 70%; */
    }


    .dropdown-content {
        display: inline;
        width: 100%;
    }

    .dropdown-content a {
        margin: 10px;
    }

    .dropdown-list {
        /*   box-shadow: none;
        display: flex;
        position: static;
        margin: 0; */
        display: none;
    }

    nav {
        align-items: center;
    }

    .nav-logo-container {
        height: 9vh;
        width: 20%;
        margin: 5px;
        padding-left: 15px;
    }

    .nav-logo-container img {
        height: 100%;
        width: auto;
        /* padding-left: 5vw; */
    }

    #iconContainer {
        /* z-index: 1; */
        display: none;
    }

    footer {
        justify-content: center;
        gap: 0px;
    }

    .footer-content {
        text-align: left;
        width: 45%;
    }

}

@media screen and (min-width: 768px) {

    .container {
        width: 80%;
    }

    .nav-logo-container {
        height: 9vh;
        width: 35%;
        margin: 5px;
        padding-left: 20px;
    }

    .nav-logo-container img {
        height: 100%;
        width: auto;
        /* padding-left: 5vw; */
    }

    #iconContainer {
        display: none;
    }

    #hamburger {
        display: none;
    }

    .dropdown-list {
        /* width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; */
        display: none;
    }

    #menu-container {
        /* width: 55%; */
    }


}