/* CSS-variabler */
:root {
  --seashell: #fef5ed;
  --light-green: #e4e4d0;
  --ashgrey: #aec3ae;
  --middle-green: #94a684;
  --white: #ffffff;
  --dark-green: #053b00;
}

/* 
Referenser till externa fonts
font-family: 'Autour One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

/* -------------------------------NAV------------------------------------- */

nav {
  width: 100%;
  background-color: var(--ashgrey);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: var(--white);
}

.nav-logo-container {
  width: 35%;
  margin: 5px;
}

.nav-logo-container img {
  width: 100%;
}

#menu-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input[type=checkbox]:checked~.dropdown-list

/*dropdown-content*/ {
  display: flex;
  flex-direction: column;
}

#hamburger {
  appearance: none;
}

#iconContainer {
  width: 40px;
}

#iconContainer img {
  width: 100%;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 38px;
  right: 0;
  background-color: var(--ashgrey);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 10px 7px;
  text-align: right;
}

.dropdown-list li {
  padding: 10px;
}

.dropdown-content {
  
  text-align: right;
  display: none;
}

.dropdown-content a {
  margin-top: 0.5em;
}

.dropdown-content a:hover {
  color: #505e46;
  transition: 0.8s;
}

.active{
  color:var(--middle-green);
}

/* ------------------------------HEADER-------------------------------------- */

header {
  font-family: "Autour One", cursive;
  color: var(--dark-green);
  position: relative;
  height: 250px;
}

#rubrik {
  position: absolute;
  background-color: var(--white);
  padding: 20px;
  border-radius: 50%;
  color: var(--dark-green);
}

#hero-background-container {
  display: block;
  width: 100%;
  height: 100%;
}

#hero-background-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#headline-container {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.965);
  border-radius: 100%;
  text-align: center;
  position: absolute;
  top: 23%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 100px;
}

#logo-container img {
  width: 100%;
}

/* -------------------------------MAIN------------------------------------- */

main {
  background-color: var(--seashell);
}

/* --------------------------------FOOTER------------------------------------ */

footer {
  padding: 1em;
  background-color: var(--ashgrey);
  color: var(--dark-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer h4{
  margin-bottom: 0.3em;
}

.footer-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.footer-content p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.signup-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.signup-container button{
  background-color: var(--dark-green);
  color: white;
  width: 100%;
  border: none;
  padding: 0.6em;
  border-radius: 10px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   margin-bottom: 1em;
}

#signup{
  margin-bottom: 0.5em;
  border-radius: 10px;
border: none;
  padding: 0.6em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.footer-icon-container{
  width: 25px;
  margin: 0.5em;
}

.footer-icon-container img{
  width: 100%;
}

.row{
  justify-content: center;
  display: flex;
  flex-direction: row;
}
/* --------------------------------MEDIA QUERY------------------------------------ */

@media screen and (min-width: 480px) {
  .dropdown-list {
    position: absolute;
    top: 55px;
  }

  nav {
    align-items: center;
  }

  .nav-logo-container {
    height: 9vh;
    width: 20%;
    margin: 5px;
    padding-left: 15px;
  }

  .nav-logo-container img {
    height: 100%;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
  }

  .dropdown-list {
    position: absolute;
    top: 55px;
  }

  nav {
    align-items: center;
  }

  .nav-logo-container {
    height: 9vh;
    width: 20%;
    margin: 5px;
    padding-left: 15px;
  }

  .nav-logo-container img {
    height: 100%;
    width: auto;
  }

  footer {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .footer-content {
    align-items: center;
    width: 40%;
    margin-right: 0.5em;
  }

  .signup-container{
    align-items: center;
    width: 80%;
  }

  .signup-container button, #signup{
    width: 100%;
  }

  .row{
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  .dropdown-content {
    display: inline;
    width: 100%;
  }

  .dropdown-content a {
    margin: 10px;
  }

  .nav-logo-container {
    height: 9vh;
    width: fit-content;
    margin: 5px;
    padding-left: 20px;
  }

  .nav-logo-container img {
    height: 100%;
    width: auto;
    padding-left: 5vw; 
  }

  #iconContainer {
    display: none;
  }

  #hamburger {
    display: none;
  }

  .dropdown-list {
    display: none;
  }

  input[type=checkbox]:checked~.dropdown-list
 {
  display: none;
}

.footer-content{
  width: fit-content;
}

footer{
  justify-content: space-evenly;
} 

.signup-container{
  align-items: baseline;
  margin-left: 0;
}

}
@media screen and (min-width: 1200px) {
  .container{
    width: 70%;
  }

  #menu-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

}
