/* CSS-variabler */
:root{
    --seashell: #fef5ed; 
    --light-green: #E4E4D0;
    --ashgrey: #AEC3AE;
    --middle-green:#94A684; 
    
    /* Text color */
    --dark-green: #053b00;
    
}

.container{
    margin: 0 auto;
    display: flex; 
    flex-direction: column; 
    width: 90%;
}
#menu-container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#iconContainer{
	width: 40px;
}

#iconContainer img {
	width: 100%;
}

.dropdown-content{
    text-align: right;
	display: none;
} 

.dropdown-content a{
    margin-top: 0.5em;
} 

#hamburger{
    appearance: none;
} 

input[type=checkbox]:checked ~ .dropdown-content {
	display: flex;
	flex-direction: column;
}


.logo-container{
    width: 35%;
}

.logo-container img{
    padding: 0.5em;
    width: 100%;
}

nav {
    width: 100%;
    background-color: var(--ashgrey);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a{
    text-decoration: none;
    color: white;
}

#hero-container{
    height: 200px;
    width: 100%;
}
#hero-background-container{
    width: 100%;
}
#hero-background-container img{
    width: 100%;
}

main {
    background-color: var(--seashell);
    height: 1000px;
}


footer {
    height: auto;
    background-color: var(--ashgrey);
    color: var(--dark-green);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;  
    
}
  


	/* Large desktop screen */
    @media (min-width: 1250px) {
        #hamburger, label{
            display: none;
        }
    
        .dropdown-content{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
      
    
        input[type=checkbox]:checked ~ .dropdown-content {
            display: flex;
            flex-direction: row;
        }
      }

      
