/* CSS-variabler */
:root{
    --seashell: #fef5ed; 
    --light-green: #E4E4D0;
    --ashgrey: #AEC3AE;
    --middle-green:#94A684; 
    
    /* Text color */
    --dark-green: #053b00;
    
}

body {
    margin: 0;
}

.container{
    margin: 0 auto;
    display: flex; 
    flex-direction: column; 
    width: 90%;
}

#menu-container{
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#iconContainer{
	width: 40px;
}

#iconContainer img {
	width: 100%;
}

.dropdown-content{
	display: none;
} 

#hamburger{
    appearance: none;
} 

input[type=checkbox]:checked ~ .dropdown-content {
	display: flex;
	flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rubrik {
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    color: var(--dark-green);
}

.logo {
    width: 35%;
    margin: 5px;
}

.logo img{
    width: 100%;
}

nav {
    width: 100%;
    background-color: var(--ashgrey);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a{
    text-decoration: none;
    color: white;
}

#hero-container{
    height: 200px;
    width: 100%;
}

#hero-background-container{
    width: 100%;
}

#hero-background-container img{
    width: 100%;
}

main {
    background-color: var(--seashell);
}


footer {
    height: auto;
    background-color: var(--ashgrey);
    color: var(--dark-green);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;  
}

.footer-content {
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 480px) {

    nav {
        height: 10vh;
    }

    .logo img{
        height: 100%;
        width: auto;
        padding-left: 5vw;
    }

    footer {
        justify-content: center;
        gap: 0px;
    }

    .footer-content {
        text-align: left;
        width: 45%;
    }

}

@media screen and (min-width: 768px) {
    
    .container {
        width: 80%;
    }
    
    nav {
        height: 10vh;
    }

    .logo img{
        height: 100%;
        width: auto;
        padding-left: 5vw;
    }

    #iconContainer{
        display: none;
    }

    #hamburger {
        display: none;
    }
    
    .dropdown-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 

    #menu-container {
        width: 55%;
    }


}
      

