/* CSS-variabler */
:root{
    --seashell: #fef5ed; 
    --light-green: #E4E4D0;
    --ashgrey: #AEC3AE;
    --middle-green:#94A684; 
    
    /* Text color */
    --dark-green: #053b00;
    
}


.container{
    margin: 0 auto;
    display: flex; 
    flex-direction: column; 
    width: 90%;
}

/* Navbar styling*/
#menu-container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#iconContainer{
	width: 40px;
}

#iconContainer img {
	width: 100%;
}

.dropdown-content{
    text-align: right;
	display: none;
} 

.dropdown-content a{
    margin-top: 0.5em;
} 

#hamburger{
    appearance: none;
} 

input[type=checkbox]:checked ~ .dropdown-content {
	display: flex;
	flex-direction: column;
}


.nav-logo-container{
    width: 30%;
    padding: 0.5em;
}

.nav-logo-container img{
    width: 100%;
}

nav {
    width: 100%;
    background-color: var(--ashgrey);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a{
    text-decoration: none;
    color: white;
}
/*End of navbar styling*/

/*Hero/header styling*/
#hero-container{

    position: relative;
    display: block;
    height: fit-content;
    width: 100%;
}
#hero-container img{
    width: 100%;
}

#headline-container{
    background-color: rgba(255, 255, 255, 0.965);
    border-radius: 100%;
    padding: 1em;
    position: absolute;
    top: 18%;
    left: 23%;
    width: 45%;
}

#logo-container img{
    width: 100%;
}

/*End of hero/header styling*/

main {
    background-color: var(--seashell);
    min-height: 500px;
}


footer {
    height: auto;
    background-color: var(--ashgrey);
    color: var(--dark-green);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;  
    
}
  


	/* Large desktop screen */
    @media (min-width: 1250px) {
        #hamburger, label{
            display: none;
        }
    
        .dropdown-content{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
      
    
        input[type=checkbox]:checked ~ .dropdown-content {
            display: flex;
            flex-direction: row;
        }
      }

      
