/* VÅRA TJÄNSTER */
h3 {
    font-family: 'Raleway', sans-serif;
}

.grid-container {
    display: grid;
    justify-items: center;
}

.grid-wedding,
.grid-funeral,
.grid-floralArrangement {
    background-color: var(--light-green);
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -3px rgba(120, 119, 119, 0.28);

}

.text {
    padding: 10px;
    color: var(--dark-green);
}

.image-ourServices img {
    object-fit: fill;
    height: auto;
    width: 100%;
}

.link-contact {
    margin: 20px 10px;
}

.link-contact a {
    text-decoration: none;
    color: var(--dark-green);
    text-decoration: underline;
}

.link-contact a:hover {
    font-weight: bold;
}



@media only screen and (min-width:810px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);

    }

    .grid-wedding {
        grid-column-start: 1;
    }

    .grid-funeral {
        grid-column-start: 2;
    }

    .grid-floralArrangement {
        grid-column-start: 3;
    }
}

@media only screen and (min-width:806px) and (max-width:975px) {

    main h3 {
        font-size: 14px;
    }

}

/* Large desktop screen */
@media (min-width: 1250px) {

    #hamburger,
    label {
        display: none;
    }

    .dropdown-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }



    input[type=checkbox]:checked~.dropdown-content {
        display: flex;
        flex-direction: row;
    }
}