

/* VÅRA TJÄNSTER */

.grid-container {
    display: grid;
    justify-items: center;
}

.grid-wedding,
.grid-funeral,
.grid-floralArrangement {
    background-color: var(--ashgrey);
    margin: 20px auto;
    width: 80%;
}

.text {
    padding: 10px;
    color: var(--dark-green);
}

.image-ourServices img {
    object-fit: fill;
    height: auto;
    width: 100%;
}

.link-contact {
    margin: 20px 10px;
}

@media only screen and (min-width:810px){
   .grid-container {
    grid-template-columns: repeat(3, 1fr);
    
   }

   .grid-wedding {
    grid-column-start: 1;
   }

   .grid-funeral {
    grid-column-start: 2;
   }

   .grid-floralArrangement {
    grid-column-start: 3;
   }
}

/* Large desktop screen */
@media (min-width: 1250px) {

    #hamburger,
    label {
        display: none;
    }

    .dropdown-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    input[type=checkbox]:checked~.dropdown-content {
        display: flex;
        flex-direction: row;
    }
}